.darkModeIsActive{
    background-color: black;
    color: white;
}

#flèche{
    width: 100px;
    height: 50px;
    display: none;
}

#flèche2{
    width: 100px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    right: 22px;
}