body{
    background-color: lightgrey;
}

section{
    margin: 5rem 15rem;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    padding: 0.25rem;
}

h1, h2{
    text-transform: uppercase;
}


.visible {
    display: block;
  }
  
.hidden {
    display: none;
  }
